--extra-index-url https://download.pytorch.org/whl/cpu

flask
gunicorn
pandas
numpy
scikit-learn
tensorflow
torch
transformers
datasets
opencv-python
matplotlib
seaborn
selenium
beautifulsoup4
joblib
